
/*------------------- menu desktop -----------------------*/
.menuDesktop{
	width: 100%;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.options{
	width: 16.66%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #db7878;
	color: white;
	font-weight: bold;
}

#option1, #option2, #option3, #option4, #option5{
	border-right: 1px solid black;
}

.options:hover{
	background: whitesmoke;
	color: #db7878;
	transition: 0.3s;
}


/*------------------ menu responsive ----------------------*/
.menuResponsive, .option-res{
	background: #343131;
	color: whitesmoke;
}

.menuResponsive{
	width: 100%;
	padding: 1%;
	font-size: 30px;
	font-weight: bold;
}

.option-res{
	width: 100%;
	padding: 2%;
	font-size: 15px;
}

