
@media (min-width: 700px) and (max-width: 1400px){
	.menuResponsive{
		display: none;
	}
}

@media (min-width: 200px) and (max-width: 699px){
	.menuResponsive{
		font-family: 'Open Sans Condensed', sans-serif;
	}

	.menuDesktop, .options{
		display: none;
	}
}